#Store {
	width: 100%;
	overflow: hidden;
	margin: 0;
	display: flex;
	flex-flow: row;
	align-items: stretch;
}
.title {
	box-sizing: border-box;
	font-size: 2.5em;
	text-align: center;
	margin-top: 15px;
}
.description {
	font-family: var(--readable);
	font-size: 1em;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.storeContainer {
	width: 100%;
	height: 100%;
	margin-top: 100px;
	padding: 50px;
}
ul {
	display: flex;
	align-content: center;
	justify-content: center;
	list-style: none;
	flex-direction: row;
	flex-wrap: wrap;
}
li {
	width: 20%;
	min-width: 150px;
	height: 180px;
	overflow: hidden;
	background-color: var(--secondary);
	margin: 15px;
	flex-shrink: 0;
	font-family: var(--readable);
	cursor: pointer;
	transition: all .3s ease-in-out;
}
li:hover {
	-webkit-box-shadow: 6px 6px 25px 0 rgba(128,128,128,1);
	-moz-box-shadow: 6px 6px 25px 0 rgba(128,128,128,1);
	box-shadow: 6px 6px 25px 0 rgba(128,128,128,1);
	height: 350px;
	transform: translate3d(-5px, -5px, 0px);
}
.skillInfos {
	width: 100%;
	height: 225px;
	box-sizing: border-box;
	perspective: 1000px;
}
.skillInfosInner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.skillInfos:hover .skillInfosInner {
	transform: rotateY(180deg);
}
.cardFront, .cardBack {
	position: absolute;
	width: 100%;
	height: 225px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.cardBack {
	transform: rotateY(180deg);
}
.skillTechInfo {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	padding: 15px;
	box-sizing: border-box;
}
.skillAuthor {
	width: 50%;
	cursor: pointer;
	text-align: left;
}
.skillAuthor:hover {
	text-decoration: underline;
}
.skillDownloads {
	width: 50%;
	text-align: right;
}
.skillDownloads:hover {
	text-decoration: underline;
}
.skillIcon {
	width: 100%;
	text-align: center;
	font-size: 5em;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	height: 125px;
	background-color: var(--mainBG);
}
.skillName {
	width: 100%;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 15px;
	overflow: hidden;
}
.skillDescription {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 1em;
	text-align: center;
	overflow: hidden;
}
.menu {
	position: absolute;
	top: 55px;
	right: 15px;
	font-size: 3em;
	cursor: pointer;
	transition: all .1s ease-in-out;
	width: 100px;
	text-align: right;
}
.fa-bars:hover {
	font-size: 1.1em;
}
.menuContainer {
	width: 0;
	height: 0;
	margin-top: 20px;
	display: none;
}
.menuContainerOpen {
	transition: width 1s ease-out;
	width: 100px;
	transition-property: width;
	display: block;
}
.menuLink {
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
}
.menuLink:hover {
	color: yellow;
}

.optionsContainer {
	display: flex;
	align-content: center;
	justify-content: center;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: var(--secondary);
	height: 70px;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cookies {
	font-size: 1.33em;
	font-family: var(--readable);
	text-align: center;
}

.acceptCookies {
	color: var(--hover);
	cursor: pointer;
}

.noCookies {
	position: fixed;
	right: 50px;
	bottom: 15px;
	cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 1.5s
}

.fade-enter,
.fade-leave-to {
	opacity: 0
}
